.social-icons {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  padding-right: 30px;
  position: relative;
  top: 75px;
}

.icon-circle {
  width: 35px;
  height: 35px;
  background-color: rgba(146, 143, 143, 0.977);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s;
}

.icon-circle svg {
  color: black;
  font-size: 15px;
  transform: scale(0.9);
}

.icon-circle:hover {
  background-color: white;
  transform: scale(1.1);
}
