.navbar {
  display: flex;
  align-items: center;
  background-color: black;
  padding: 0px 1px;
  height: 105px;
  margin-top: 0x;
  min-width: 100px;
  justify-content: flex-start;


}

.logo {
  color: white;
  background-color: orangered;
  font-size: 60px;
  font-family: 'Cormorant Garamond', serif;
  line-height: 1.5;
  letter-spacing: 1px;
  cursor: pointer;
  padding: 40px;
  margin: 112px 20px 177px 0;
  display: block;
  text-align: center;
}

.nav-menu {
  list-style: none;
  display: flex;
  gap: 5px;
}

.nav-menu li {
  list-style: none;
  color: white;
  position: relative;
  cursor: pointer;
  padding: 5px 10px;
  margin: 5px 10px;
  font-family: 'Times New Roman', serif;
  line-height: 1;

}

.nav-menu li:hover {
  color: orangered;
}
.top-bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 570px;
  color: rgba(146, 143, 143, 0.977);
  padding: 5px 15px;
  font-family: 'Times New Roman', serif;
  font-size: 17px;
  font-weight: 500;
  margin-top: -30px;
}

.blogitems {
  gap: 5px;
  align-items: center;
  font-family: 'Times New Roman', serif;
  position: relative;
  cursor: pointer;
}

.dropdown {
  position: absolute;
  top: 66px;
  left: 0;
  font-family: 'Times New Roman', serif;
  background-color: white;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  min-width: 150px;
  z-index: 100;

}

.dropdown li {
  padding: 5px 15px;
  color: black;
}

.dropdown li :hover {
  color: black;
  display: flex;
}

.pageitem {
  gap: 15px;
  align-items: center;
  display: flex;
  position: relative;
  cursor: pointer;
}

.dropup {
  position: absolute;
  top: 67px;
  left: 0;
  background-color: white;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  min-width: 120px;
  z-index: 100;
  font-family: 'Times New Roman', serif;
}

.dropup li {
  padding: 5px 15px;
  color: black;
}

.dropup li :hover {
  display: flex;

}
